---
import Head from "../layout/Head.astro";
import MainLayout from "../layout/MainLayout.astro";
import { GoogleOuath } from "../components/auth/google";
---

<Head title="Astro-Firebase🔥" />
<MainLayout>
  <div class="flex min-h-screen flex-col items-center justify-center">
    <GoogleOuath client:load />
  </div>
</MainLayout>
